@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.c640 {
	 display: block;
}

@media (max-width: 640px) {

.c640 {
 display: none;
}

}
body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #020101 16.62%, #060f58 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
  border: none;
  width: 100px;
  height: 90px;
  border-radius: 100%;
  margin-right: 600px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #8f8c89;
}

.conteudo-principal-escrito-botao {
  background-color: #c0c3db;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(103, 124, 131, 0.911);
}

.conteudo-principal-imagem {
  height: 430px;
  border: none;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%
}
h1.white {
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color:#ECD6C4;
    left: 10px;
    margin: auto;
    margin-top: 200px;
    width: 100px;
}
h2.solido {
    font-family: 'Sarala', sans-serif;
    font-size: 17px;
    font-weight: 100;
    width: auto;
    color:#ECD6C4;
    margin-top: 60px;
}
h2.contato {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:#ECD6C4;
    left: 100px;
    margin-top: 60px;
  
}
.cabecalho-menu-final {
   font-family: 'Sarala', sans-serif;
   color: #FFF2E7;
   font-weight: 400;
   font-size: 18px
}
.footer{
  margin-top: var(--mb-3);
  color: #c0c3db;
}
.footer__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: var(--mb-3) 0 var(--mb-1);
  padding: 1rem;
  color: #c0c3db;
}
.footer .social__media{
  margin-top: var(--mb-05);
}
.footer .social__media a i{
  color: #c0c3db;
}
.footer .social__media a i:hover{
  color: var(--white-color);
  background-color: var(--primary-color);
}
.footer__data{
  margin-bottom: var(--mb-1-5);
  color: #c0c3db;
}
.footer__data h2{
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  padding: 0.5rem;
  color: #c0c3db;
}
.footer_data ul li, .footer_data ul li a{
  font-size: var(--small-font-size);
  line-height: 1.8rem;
  color: var(--black-color);
  text-transform: uppercase;
  color: #c0c3db;
}
.footer_data ul li:hover, .footer_data ul li a:hover{
  text-decoration: underline;
  color: #c0c3db;
}
.footer .copy{
  text-align: center;
  padding: 1rem 0;
}
.footer .copy p{
  font-weight: var(--font-bold);
}
.footer .copy span{
  font-size: var(--small-font-size);
}
